<!DOCTYPE html>
<html>
<head>
  <title>Add Department</title>
</head>
<body>
<h1>Add Department</h1>
<form action="/departments" method="post">
  <label for="departmentName">Name:</label>
  <input type="text" id="departmentName" name="department_name" required><br><br>

  <label for="departmentOffice">Office:</label>
  <input type="text" id="departmentOffice" name="department_office" required><br><br>

  <label for="departmentNo">Number:</label>
  <input type="text" id="departmentNo" name="department_no" required><br><br>

  <input type="submit" value="Submit">
</form>
</body>
</html>