<!DOCTYPE html>
<html>
<head>
  <title>Edit College</title>
</head>
<body>
<h1>Edit College</h1>
<form action="/colleges/{id}" method="post">
  <input type="hidden" name="_method" value="put">
  <label for="collegeName">Name:</label>
  <input type="text" id="collegeName" name="college_name" value="${college.college_name}" required><br><br>

  <label for="collegeDean">Dean:</label>
  <input type="text" id="collegeDean" name="college_dean" value="${college.college_dean}" required><br><br>

  <label for="collegeOffice">Office:</label>
  <input type="text" id="collegeOffice" name="college_office" value="${college.college_office}" required><br><br>

  <input type="submit" value="Submit">
</form>
</body>
</html>